 @charset "UTF-8";
 @import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Edu+NSW+ACT+Foundation:wght@400;500&family=Oswald:wght@300&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Edu+NSW+ACT+Foundation:wght@400;500&family=Oswald:wght@300&family=Titillium+Web:ital,wght@0,400;1,300;1,400&display=swap");

 * {

   padding: 0;
   box-sizing: border-box;
   margin-top: 10px !important;
   margin: 0;
   background-color: rgb(216, 205, 226);

 }


 /*menu paginas */
 .menu {
   color: rgb(0, 0, 0);
   font-family: "Cinzel", serif, black;
   font-family: "Edu NSW ACT Foundation", cursive, black;
   font-family: "Oswald", sans-serif, black;
   font-family: "Titillium Web", sans-serif, black;
   font-size: 25px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   background-color: black;
   
 }

 .gif_inicio{
  width: 300px;
  height: 200px;
  margin-left: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
 }

 /*carrusel*/
 .tamañocarrusel {
   width: 900px;
   height: 1000px;
   margin-left: 200px;
   margin-right: 100px;
   
 }

 @media (max-width: 767px) {
  /* Agrega aquí los estilos que deseas aplicar para pantallas pequeñas */
  .titulo {
    font-size: 24px;
  }
  
  .alineartexto {
    text-align: center;
  }
  
  .gif_inicio {
    width: 100%;
    height: auto;
  }
  
  .tamañocarrusel {
    max-width: 400px;
    margin: 0 auto;
 
  }
}
 /*titulo principal index */
 .separacion {
   margin: 30px;
 }

 .cajita {
   transition: 0.2s;

   &:hover {
     transform: scale(1, 1.2);
   }
 }

 .titulo {
   color: rgb(92, 36, 87);
   background-color: rgb(216, 170, 228);

   font-size: 38px;
   font-family: "Cinzel", serif;
   font-family: "Edu NSW ACT Foundation", "cursive";
   font-family: "Oswald", sans-serif;
   /*  transition: 2s;
   &:hover{
    transform:rotate(360deg)
   }*/
 }

 .alineartexto {
   text-align: center;

 }

 .artista {
   color: rgb(92, 36, 87);
   background-color: darksalmon;
   width: 400px;
   flex-direction: column;
 }

 .tamaño {
   font-size: 25px;
   font-weight: bold;
 }

 .imagen_estreno {
   display: flex;
   flex-direction: row;
   justify-content: left;
   margin-left: 20px;

 }

 @media (max-width: 767px) {
  .titulo {
    font-size: 24px;
  }
  
  .imagen_estreno {
    flex-direction: column;
  }
  
  .imagen_estreno img {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .info {
    font-size: 14px;
  }
}
 /*tarjetas */
 .tarjetita {
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
   padding-right: 30px;
 }

 .imagen_infogif {
   width: 100px;
   height: 100px;
 }

 @media (orientation: portrait) {
   .tablaconcierto {
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr 1fr;
   }
 }

 @media (max-width: 900) {
   .videoscompletos {
     flex-direction: column;

   }
 }

 @media (max-width: 767px) {
   .tarjetita {
     flex-direction: column;
   }
 }

 .info {
   width: 250px;
   margin-top: 50px;
 }

 .tamañoimagen {

   width: 300px;
   height: 200px;
   display: flex;
   flex-direction: row;
 }

 .alineacion {
   text-align: center;
 }

 /* cuadro conciertos */
 .cuadroconcierto {
   margin-bottom: 70px;
   padding-top: 35px;
   padding-left: 20px;
   padding-right: 20px;
   display: grid;
   min-height: 70vh;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   -moz-column-gap: 1rem;
   column-gap: 1rem;
   row-gap: 2rem;
   grid-template-areas: "CONCIERTOS CONCIERTOS BLACKPINK STRAYKIDS" "CONCIERTOS CONCIERTOS TWICE     AGUSTD";
 }

 .CONCIERTOS {
   background-color: rgb(5, 0, 0);
   font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
   color: beige;
   grid-area: CONCIERTOS;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 100px;
 }

 .BLACKPINK,
 .AGUSTD,
 .TWICE,
 .STRAYKIDS {
   background-color: rgb(252, 134, 226);
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 40px;
   height: 250px;
 }

 .STRAYKIDS {
   background-color: rgb(192, 41, 41);
 }

 .TWICE {
   background-color: rgb(102, 102, 207);
 }

 .AGUSTD {
   background-color: blueviolet;
 }

 .enlace {
   color: black;
   text-decoration: none;
 }

 @media (max-width:767px) {
   .cuadroconcierto {
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     grid-template-areas: "CONCIERTOS CONCIERTOS" "BLACKPINK STRAYKIDS" "TWICE AGUSTD";
   }
 }

 @media (orientation: portrait) {
   .cuadroconcierto {
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
     grid-template-areas: "CONCIERTOS" "BLACKPINK" "STRAYKIDS" "TWICE" "AGUSTD";
   }
 }

 /*tienda */
 .menu2 {
   list-style-type: none;
   padding-top: 30px;
   padding-bottom: 20px;
   padding-left: 30px;
   padding-right: 30px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   margin-left: 350px;
   margin-right: 350px;
   border-style: double;
   background-color: rgb(193, 164, 216);
 }

 .formulario_tienda {
   display: flex;
   flex-direction: row;
   justify-content: left;
 }

 .formulario_lista {
   margin-left: 200px;
   margin-top: 100PX;
   font-size: 20px;

 }

 .weverse {
   display: flex;
   flex-direction: column;
   justify-content: left;
   width: 150px;
   height: 100px;
   margin-top: 1px;
 }

 .gif_tienda {
   width: 500px;
   height: 500px;
   margin-top: 100px;
   margin-left: 100px;
 }

 @media (max-width: 767px) {
 
  .formulario_tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formulario_lista {
    margin-top: 20px;
  }
  
  .gif_tienda {
    width: 100%;
    height: auto;
  }
  
  .formulario_lista h2 {
    text-align: center;
  }
  
  .formulario_lista input[type="text"],
  .formulario_lista input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .formulario_lista input[type="submit"] {
    width: 100%;
  }
}

 /* pie de pagina */
 .espacios {
   margin-top: 500px;
 }

 .configuracion {
   margin-top: 1px !important;
 }

 .piedepagina {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   background-color: rgb(193, 187, 199);
   border-color: black;
 }

 .tamañologo {
   width: 75px;
   height: 75px;
 }

 .centrarimagenes {
   display: block;
   margin: auto;
 }

 /*# sourceMappingURL=style.css.map */